version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:80"
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=ursol_user
      - MYSQL_PASSWORD=ursol_password
      - MYSQL_DATABASE=api_db
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
      - MYSQL_DATABASE=api_db
      - MYSQL_USER=ursol_user
      - MYSQL_PASSWORD=ursol_password
    volumes:
      - db_data:/var/lib/mysql
    restart: always

volumes:
  db_data:
